<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ title }}</h1>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-12">
            <h2>Who I am</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae reiciendis tempora neque, saepe inventore iusto eligendi incidunt quaerat ab facilis harum quasi corporis officiis cumque a, vel laborum nemo error.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae reiciendis tempora neque, saepe inventore iusto eligendi incidunt quaerat ab facilis harum quasi corporis officiis cumque a, vel laborum nemo error.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae reiciendis tempora neque, saepe inventore iusto eligendi incidunt quaerat ab facilis harum quasi corporis officiis cumque a, vel laborum nemo error.</p>
        </div>
    </div>
</section>